<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<div>
    <h2>Welcome to your cart.</h2>
    <div th:switch="${cart}">
        <h2 th:case="null">Your cart is currently empty!</h2>
        <div th:case="*">
            <h2>Products:</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Manufacturer</th>
                    <th>Caffeine Amount (mg)</th>
                    <th>Rating</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cart : ${items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.manufacturer}"></td>
                    <td th:text="${item.caffeineAmount}"></td>
                    <td th:text="${item.rating}"></td>
                    <td th:text="${item.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>