<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Energy</title>
</head>
<body>
<div>
    <p th:switch="${user.hasRole}">
        <div th:case="'ADMIN'">
            <h3>Currently signed in as:</h3>
            <h3 th:text="${user.hasRole}"></h3>
            <a href="logout">Logout</a>
        </div>
        <div th:case="'USER'">
            <h3>Currently signed in as:</h3>
            <h3 th:text="${user.username}"></h3>
            <a href="logout">Logout</a>
        </div>
        <div th:case="*">
            <a href="login">Login</a>
            /
            <a href="signup">Sign up</a>
        </div>
    </p>
</div>
<div>
    <h2>Welcome to the home of energy.</h2>
    <div th:switch="${user.hasRole}">
        <h3 th:case="'USER'"><a href="cart">My Cart</a></h3>
    </div>
    <div th:switch="${items}">
        <h2 th:case="null">We currently have no products in stock!</h2>
        <div th:case="*">
            <h2>Products:</h2>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Manufacturer</th>
                    <th>Caffeine Amount (mg)</th>
                    <th>Rating</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:switch="${user.hasRole}" th:each="item : ${items}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.manufacturer}"></td>
                    <td th:text="${item.caffeineAmount}"></td>
                    <td th:text="${item.rating}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:case="'ADMIN'"><a th:href="@{/delete/{id}(id=${item.ID})}">Delete</a></td>
                    <td th:case="'USER'"><a th:href="@{/addtocart/{id}(id=${item.ID})}">Add to cart</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>